@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen/Oxygen-Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen/Oxygen-Bold.ttf');
  font-weight: bold;
}

$jb-font-family: 'Oxygen', sans-serif;

// font sizes
$jb-font-small: 10px;
$jb-font-medium: 12px;
$jb-font-large: 15px;
$jb-font-larger: 18px;
