@import '../variables/colors.scss';

.home {
  background-color: $home-secondary;
  // buttons
  .btn-primary {
    background-color: $home-primary;
    color: $home-secondary;
    border: solid 1px $home-secondary;
    outline: solid 2px $home-primary;
  }

  .btn-jumbo {
    background-color: $home-secondary;
    color: $home-primary;
    outline: none;
    border: none;
    
    &:first-of-type {
      border-bottom: solid 2px $home-primary;
    }
  }
  
  .link {
    &.large {
      color: $home-primary;
    }
  
    &.med {
      color: $home-primary;
    }
  }
  
  
  // inputs
  .jb-input {
    border-left: solid $home-primary 1px;
    border-bottom: solid $home-primary 1px;
    border-top: none;
    border-right: none;
    background-color: $home-secondary;
    color: $home-primary;
    &::-webkit-input-placeholder {
      color: $home-primary;
    }
    &::-ms-input-placeholder {
      color: $home-primary;
    }
    &::-moz-placeholder {
      color: $home-primary;
    }
  }

  .jb-input-error {
    background-color: $home-primary;
    color: $home-secondary;
  }

  .jb-input-error-lg {
    background-color: $home-primary;
    color: $home-secondary;
  }

  .tray {
    background-color: $home-primary;
    color: $home-secondary;
  }
}
