@import '../variables/colors.scss';

.inParty {
  background-color: $party-secondary;
  color: $party-primary;
  // buttons
  .btn-primary {
    background-color: $party-primary;
    color: $party-secondary;
    border: solid 1px $party-secondary;
    outline: solid 2px $party-primary;
  }

  .btn-jumbo {
    background-color: $party-secondary;
    color: $party-primary;
    outline: none;
    border: none;
    
    &:first-of-type {
      border-bottom: solid 2px $party-primary;
    }
  }
  
  .link {
    &.large {
      color: $party-primary;
    }
  
    &.med {
      color: $party-primary;
    }
  }
  
  
  // inputs
  .jb-input {
    border-left: solid $party-primary 1px;
    border-bottom: solid $party-primary 1px;
    border-top: none;
    border-right: none;
    background-color: $party-secondary;
    color: $party-primary;
    &::-webkit-input-placeholder {
      color: $party-primary;
    }
    &::-ms-input-placeholder {
      color: $party-primary;
    }
    &::-moz-placeholder {
      color: $party-primary;
    }
  }

  .jb-input-error {
    background-color: $party-primary;
    color: $party-secondary;
  }

  .jb-input-error-lg {
    background-color: $party-primary;
    color: $party-secondary;
  }
  .jb-input-animation {
    background-color: $party-primary;
  }
  .tray {
    background-color: $party-primary;
    color: $party-secondary;
  }

  .tabs {
    .tab {
      color: $party-primary;
      // background-color: $party-tertiary;

      &:hover,
      &.active {
        background-color: $party-secondary;
      }
    }
  }

  .search { 
    background-color: $party-secondary;
    color: $party-primary;
    border: solid 1px $party-primary;

    input {
      color: $party-primary;
      border: none;
      background-color: $party-secondary;
    }
  }

  .party-list {
    width: 80%;
    margin: 30px auto;
    padding: 0;

    li {
      list-style: none;
      text-align: left;
      margin: 20px 0 0 0;

      span {
        display: block;
        max-width: calc(100% - 55px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      button {
        padding: 3px 6px;
        max-width: 300px;
        background-color: #460A3B;
        border: 1px solid #FFF;
        color: #FFF;
        text-transform: uppercase;
        font-size: 15px;
        float: right;
        position: relative;
        right: 0;
        top: -23px;
      }
    }
  }

  .ripple-effect-color-primary {
    background-color: $party-tertiary;
  }

  .ripple-effect-color-secondary {
    background-color: $party-secondary;
  }
}
