.btn-primary {
  min-width: 4.2em;
  height: 2em;
  cursor: pointer;
  font-size: $jb-font-larger;
  font-weight: bold;
  line-height: $jb-font-larger;

  &.disabled {
    opacity: 0.5;
  }
}

.btn-jumbo {
  width: 100%;
  display: block;
  height: 50%;
}

.link {
  cursor: pointer;
}

.link.large {
  font-size: $jb-font-large;
  margin-top: $jb-font-large;
  display: block;
}

.link.med {
  font-size: $jb-font-large;
  margin-top: $jb-font-large;
  display: block;
  text-decoration: underline;
}

.ripple {
  overflow: hidden;
  position: relative;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}
