.btn-primary {
  min-width: 75px;
  height: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  &.disabled {
    opacity: 0.3;
  }
}

.link {
  cursor: pointer;
}

.link.large {
  font-size: 14px;
  margin-top: 50px;
  display: block;
}

.link.med {
  font-size: 11px;
  margin-top: 10px;
  display: block;
  text-decoration: underline;
}
