.jb-input-container {
  margin-top: 20px;

  &:last-of-type {
    margin-bottom: 30px;
  }
}

.jb-input {
  width: 100%;
  height: 2.5em;
  box-sizing: border-box;
  display: block;
  font-size: $jb-font-medium;
  padding: $jb-font-medium;

  &:focus {
    box-shadow: none;
    outline: none;
  }

}

.jb-input-error {
  font-size: $jb-font-small;
  padding: 0.25em 0.5em;
  float: right;
}

.jb-input-error-lg {
  font-size: $jb-font-medium;
  padding: 0.4em 0.6em;
  margin-bottom: 2em;
}



