@import '../variables/colors.scss';

.list {
  clear: both;
  margin: 10px 0;
  padding: 0;
  border-top: solid $party-tertiary 1px;
  border-bottom: solid $party-tertiary 1px;
  color: $jb-white;

  .listItem {
    list-style-type: none;
    clear: both;
    padding: 5px;
    border-top: solid $party-tertiary 1px;
    border-bottom: solid $party-tertiary 1px;
    cursor: pointer;

    img {
      height: 70px;
      width: 70px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      &:first-of-type {
        float: left;
      }

      &.artist-pic {
        border-radius: 50%;
      }
    }

    .itemText {
      display: inline-block;
      width: calc(100% - 140px); 

      p {
        margin: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .fa {
      height: 70px;
      width: 70px;
      float: right;
      font-size: 24px;
      line-height: 70px;
    }
  }

  &.song-full-tile,
  &.album-tile {
    .listItem {
      height: 55px;
    
      img {
        height: 55px;
        width: 55px;
      }

      .itemText {
        margin-top: 10px;

        p {
          margin: 0 0 0 10px;

          &:first-child {
            font-size: 15px;
          }

          &:last-child {
            font-size: 12px;
          }
        }
      }

      .fa {
        height: 55px;
        width: 55px;
        line-height: 55px;
      }
    }
  }

  &.artist-tile {
    .listItem {
      height: 55px;
    
      img {
        height: 55px;
        width: 55px;
      }

      .itemText {
        height: 55px;
        line-height: 55px;

        p {
          margin: 0 0 0 10px;
          font-size: 15px;
        }
      }

      .fa {
        height: 55px;
        width: 55px;
        line-height: 55px;
      }
    }
  }

  /* &.album-tile {
    .listItem {
      height: 282px;
      padding: 15px;
      width: 30%;
      display: inline-block;
      border-right: solid #5A2651 2px;

      &:nth-child(3) {
        border-right: none;
      }
    
      img {
        // height: 55px;
        // width: 55px;
      }

      .itemText {
        height: 55px;
        line-height: 55px;

        p {
          margin: 0 0 0 10px;
          font-size: 15px;
        }
      }

      .fa {
        height: 55px;
        width: 55px;
        line-height: 55px;
      }
    }
  } */
}
