.searchResults {
  text-align: left;
  color: $jb-white;

  .searchListContainer {
    margin-top: 30px;
  }

  .navLink {
    float: right;
    margin: 5px 10px 10px 0;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
  }

  .listHeader {
    margin-left: 10px;
  }

  i {
    text-align: center;
  }
}
