// Main Sass file... import all sass dependencies here
@import './variables/colors.scss';
@import './variables/fonts.scss';

@import './modules/modules.scss';
@import './componentThemes/components.scss';

* {
  font-family: $jb-font-family;
}

body {
  //background: $jb-orange;
  margin: 0;
  //font-family: 'Oxygen', sans-serif;
  text-align: center;
}

.search {
  text-align: left;
}

.logout {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}
