// Main Sass file... import all sass dependencies here
@import './variables/colors.scss';

@import './modules/input.scss';
@import './modules/button.scss';
@import './modules/form.scss';
@import './modules/img.scss';

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen/Oxygen-Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen/Oxygen-Bold.ttf');
  font-weight: bold;
}

* {
  font-family: 'Oxygen', sans-serif;
}

body {
  background: $jb-orange;
  margin: 0;
  //font-family: 'Oxygen', sans-serif;
  text-align: center;
}


